VITE_APP_NAME=frontend-bff-microservices-grpc
VITE_APP_ENV=development
VITE_BFF_BASE_URL=http://localhost:8080
VITE_FARO_URL=https://your-faro-collector-url
VITE_FARO_APP_NAME=frontend-bff-microservices-grpc
